PORT=8080
DATABASE_URL=postgresql://USER:PASSWORD@HOST.neon.tech/DB?sslmode=require
CLIENT_ORIGIN=https://your-frontend-static-site.onrender.com
TOKEN_SECRET=change-this-long-random-secret
ADMIN_USERNAME=admin
ADMIN_PASSWORD=ADMIN-2026
PUBLIC_APP_URL=https://your-frontend-static-site.onrender.com/app
